.app-container {
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    height: 100vh;
}

.app-container-content-1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    max-width: calc(100% - 20em);
}

.app-container-content-2 {
    width: 20em;
    height: 100%;
}

.app-container-map {
    flex: 1;
    padding: var(--space-sm);
}

.app-container-header {
    position: sticky;
    height: var(--header-height);
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--bg-color);
    border-bottom: var(--element-border);
}

.app-container-header-events-button {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    margin-right: var(--space-md);
    margin-left: auto;
    display: none;
    color: var(--primary-color);
    user-select: none;
    border-radius: var(--border-radius-sm);
    border: 1px var(--primary-color) solid;
    padding: 10px;
}

.app-container-header-events-button:active {
    opacity: 0.8;
}

@media screen and (max-width: 650px) {
    .app-container-header-events-button {
        display: block;
    }

    .app-container-content-1 {
        max-width: 100%;
    }

    .app-container-content-2 {
        display: none;
    }
}